@import "tailwindcss";

@theme {
  --color-dark: #050505;
  --color-card: #111111;
  --color-primary: #00FF41;
  --color-muted: #2A2A2A;
}

@layer base {
  body {
    background-color: var(--color-dark);
    color: #ffffff;
    font-family: 'Inter', system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
